@import './mixins.scss';
@import './variables.scss';


html{
    font-size: 14px;
  
    @include tablets{
      font-size: 13px;
    }
  
    @include phones{
      font-size:12px;
    }
  }
  
  body, html {
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: HelveticaNeue, Helvetica,Arial, sans-serif;
    line-height: 1.42;
    color: $gray;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-weight: normal;
  }
  
  
  p {
    padding: 0;
    margin: 0;
  }

  a{
    text-decoration: none;
  }