    @font-face {
    font-family: "HelveticaNeue";
    src: url("./HelveticaNeue/HelveticaNeueCyr-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
   }
   
   @font-face {
    font-family: "HelveticaNeue";
    src: url("./HelveticaNeue/HelveticaNeueCyr-Roman.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
   }
   
   @font-face {
    font-family: "HelveticaNeue";
    src: url("./HelveticaNeue/HelveticaNeueCyr-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
   }

   @font-face {
    font-family: "HelveticaNeue";
    src: url("./HelveticaNeue/HelveticaNeueCyr-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
   }
